*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
      font-family: "Poppins", sans-serif;}
img{
    max-width: 100%;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.btn{
    background-color: #DD0000;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border: none;
}

/* animation
/*  */
@keyframes banner-animation{
    0%{
        opacity:0;
        transform:translateX(-20x)
        

    }
    50%{
        opacity:0.5
        transform:translateX( -10x)

    }
    100%{
        opacity: 1;
        transform:translateX(0px)

    }
}
@keyframes banner-player-animation{
    0%{
        opacity:0.5;
        transform:translateX(20x)

    }
    50%{
        opacity:0.7;
        transform:translateX(10x)

    }
    100%{
        opacity: 1;
        transform:translateX(0px)

    }
}
.banner{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    margin: 50px auto;
    border-radius: 15px;
    animation: banner-animation 0.7s ease-out forwards;
}
.banner-left{
    padding: 45px;
    flex: 1;
}
.banner-right{
    flex: 1;
}

.banner h2{
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    
}
.banner p{
    color: #FFFFFF;
    margin: 15px 0;
    max-width: 65%;

}
.banner-right img{
    display: block;
    animation: banner-player-animation 1s ease-in infinite;
}
/* uncomming matches  */

.upcoming-matches{
    display: flex;
     padding: 50px 0;
    gap: 20px;

}
.upcoming-matches-left{
    background-color: black;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
    padding: 15px;
    height: fit-content;
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2){
        background-color: white;
        color: black;
}

.upcoming-matches-right{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;

}
.upcoming-matches-right .card{
    border: 1.5px solid rgba(22, 22, 22, 0.8);

}
.upcoming-matches-right .card .card-body{
    padding: 20px;
}
.upcoming-matches-right img{
    height: 180px;
    border-radius: 10px 10px 0 0 ;
}
.upcoming-matches-right .card .btn{
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    margin-top: 10px;
}
.upcoming-matches-right .card h2{
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
}
.card-botton{
display: flex;
gap: 20px;
color: #161616;
}


@media (max-width:992px) {
    /* banner h2 */
    .banner h2{
    font-size: 5px;
    line-height: 50px;
    
}
    
    /* match section */
    .upcoming-matches{
        flex-direction: column;
    }
    
    .upcoming-matches-left {
        flex-direction: row;
        width: 100%;
        background-color: transparent;
    }
    .upcoming-matches-left >*{
        flex: 1;
    }
    .upcoming-matches-left .btn{
        border: 1px solid rgba( 232, 232,232);
    }
    .upcoming-matches-right{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* lapton or tab */
@media (max-width:768px){
    .container{
   margin: 0 30px;
}
    
    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner .banner-left{
        margin-bottom: 20px
        padding: left 0;
        padding-top: 20px;
    }
    .banner .banner-left p{
        /* max-width: 100%; */
        margin: auto;

    }
    .banner h2{
       font-size: 40px;

    }
    .upcoming-matches-right{
        grid-template-columns: repeat(1, 1fr)
    }
     .container{
   margin: 0 30px;
}

}